@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dosis:wght@200&family=Inter:wght@300&family=Josefin+Sans:ital@1&family=Poppins:ital@1&family=Titillium+Web:wght@200;300&display=swap');

.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 60px;

}

.footer-content {
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.social-media img {
    width: 20px;
    height: 23px;
    margin: 0 10px;
    background-color: #000000;
    
}

.emai {

background-color: #000000;

}

div.footer-links {

    background-color: #000000;
}
 
.looh img {

    width: 3rem;
    background-color: #000000;
}

h1.looh {

background-color: #000000;

}

.it {
    font-family: 'Archivo Black', sans-serif;
    background-color: #000000;

}

.it2 {
    font-family: 'Archivo Black', sans-serif;
    background-color: #000000;
    left: 10px ;
    margin: 20px;
    margin-inline: auto;
}

.urll img {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    background-size: cover;
    background-color: #000000;
    left: 30px;
}

ul.urll {
    font-family: 'Archivo Black', sans-serif;
    background-color: #000000;
    margin: auto;
    display: flex;

}
.urll2 {
    font-family: 'Archivo Black', sans-serif;
    display: inline-block;
    margin: 2px;
    background-size: cover;
    background-color: #000000;
}

.uuu {

    margin: 1px;
    
}

li.uuu {

    display: inline-block;
    margin: auto;
    background-color: #000000;
    line-height: 10px;
}

li.urll3 {

text-decoration: none;
background: black;
}

.linhaP {

color: #000000;

}

a.linhaP {
    text-decoration: none;
    background-color: #000000;
}

a.liPr {
    text-decoration: none;
    background-color: #000000;
}

@media screen and (max-width: 600px) {

    .footer {
        background-color: #000000;
        color: #fff;
        padding: 20px;
        text-align: center;
        margin-top: 60px;
    }
    
    .footer-content {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        background-color: #000000;
    }
    
    .social-media img {
        width: 20px;
        height: 23px;
        margin: 10px; 
        background-color: #000000;
    }
    
    .email {
        background-color: #000000;
    }
    
    .looh img {
        width: 3rem;
        background-color: #000000;
    }
    
    .it {
        background-color: #000000;
    }
    
    .it2 {
        background-color: #000000;
        left: auto; 
    }
    
    .urll {
        
        display: inline;
        background-color: #000000;
    }

    .urll2 {
        
        margin-top: 2px;
        display: inline;
        margin: 5px;
    
    }
    
    li.urll3 {

        line-height: 60px;

    } 
    
    h3.it {

        line-height: 80px;
    }

    h3.it2 {

        line-height: 60px;
    }
    
    p.it2 {


        line-height: 50px;

    }

    p.it {

        line-height: 20px;
    }
    
}